.infobox__card {
  padding: 10px 5px;
  background-color: thistle !important;
}
.infobox__title {
  color: #fff !important;
  background-color: #000;
  padding: 4px 10px;
}

.infobox__cases::before {
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 4px;
  content: "Today Cases:";
  color: rgb(167, 216, 216);
  background-color: rgb(22, 18, 18);
}

.infobox__cardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
