.table {
  margin-top: 20px !important;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

.table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px !important;
}

.table td {
  padding: 0.4rem;
  border-radius: 10px !important;
}

.table__country {
  display: flex;
  gap: 10px;
  align-items: center;
}

.table tr:nth-child(even) {
  background-color: thistle;
}
