.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

.table tr {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.table tr:nth-child(even) {
  background-color: rgb(223, 200, 245);
}
