.table {
  margin-top: 20px !important;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.4rem;
}

.table tr:nth-child(even) {
  background-color: thistle;
}
