* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.app__logo {
  font-weight: 900 !important;
  font-size: 1.5rem !important;
}

.app__infobox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
