* {
  margin: 0;
  /* #131517 */
}

body {
  background-color: #e5eaf5 !important;
}

h1 {
  margin-bottom: 15px;
}
.app {
  padding: 20px;
}

.app__container {
  display: flex;
  justify-content: space-between;
}
.app__left {
  flex: 0.9;
}

.app__dropdown {
  background-color: #161130;
  border-radius: 4px;
}

.app__select {
  color: #fff !important;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__right {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
}

.app__headerimg {
  height: 50px;
  object-fit: contain;
}

/* .app__news {
  display: flex;
} */
.news h1 {
  text-align: center;
  margin-top: 50px;
  padding: 5px;
  border-top: 1px solid #161130;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__right {
    margin-top: 20px;
  }
}

@media (min-width: 991px) {
  .app {
    flex-direction: row;
  }

  .app__left {
    flex: 0.9;
  }
}
